
.nav {
    
    background: rgba(13, 17, 23, 0.95);
    background-image: linear-gradient(to right, #0d1117, #161b22);
    
    padding: 15px 0;
    display: flex;
    justify-content: center;
    
    box-shadow: 0 4px 15px rgba(0, 191, 255, 0.2); 
    border-bottom: 1px solid #00BFFF;
    
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 1000; 
}

.link {
    margin: 0 25px; 
    color: #c9d1d9; 
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1em;
    padding: 5px 10px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.link:hover {
    color: #fff;
    
    background-color: rgba(0, 191, 255, 0.1); 
    
    border-bottom: 2px solid #00BFFF; 
}

@media (max-width: 600px) {
    .nav {
        flex-direction: column;
        padding: 10px 0;
        align-items: center;
    }
    .link {
        margin: 5px 0;
        width: 80%; /* Ocupa mais espaço na vertical */
        text-align: center;
        border-bottom: 1px solid rgba(0, 191, 255, 0.1);
    }
    .link:hover {
         border-bottom: 2px solid #00BFFF;
    }
}